{% extends 'base.html' %}

{% block title %}
    añadir_user
{% endblock %}

{% block content %}
    <br>
    <br>
    <br>
   <div class="mt-5 conatiner">
        <div class="text-center">
            <h3 class="text-primary">Registro</h3>
            <p class="lead">Registrate ahora !!!</p>
        </div>

        <form action="/users/insertar/" method="POST">
            <div class=" d-flex align-items-center justify-content-center">
                <div class="bg-white col-md-4">
                    <div class="p-4 rounded shadow-md">
                        <div>
                            <label class="form-label">username</label>
                            <input type="text" name="username" class="form-control" placeholder="" id="username" required>
                        </div>
                        <div class="mt-3">
                            <label class="form-label">password</label>
                            <input type="password" name="password" class="form-control" placeholder="" id="password" required>
                        </div>
                        <div class="mt-3">
                            <label  class="form-label">email</label>
                            <input type="text" name="email" class="form-control" placeholder="" id="email">
                        </div>
                        <div class="mt-3">
                            <label  class="form-label">Nombre</label>
                            <input type="text" name="name" class="form-control" placeholder="" id="name" required>
                        </div>
                        <div class="mt-3">
                            <label class="form-label">Apellido</label>
                            <input type="text" name="surname" class="form-control" placeholder="" id="surname" required>
                        </div>
                        <div class="mt-3 mb-3">
                            <select id="rol" name="rol">
                                <option value="admin" {% if user[5] == "admin" %}selected{% endif %}>Administrador</option>
                                <option value="user" {% if user[5] == "user" %}selected{% endif %}>Usuario</option>
                            </select>
                        </div>
                        <button class="btn btn-primary">
                            Enviar
                        </button>
                    </div>
                </div>
            </div>
        </form>
   </div>
{% endblock %}